#!/bin/sh

### BEGIN INIT INFO
# Provides:		iptables
# Required-Start:	$remote_fs
# Required-Stop:	$remote_fs
# Should-Start:		$network
# Should-Stop:
# Default-Start:	2 3 4 5
# Default-Stop:		0 1 6
# Short-Description:	iptables rules
# Description:		iptables rules
### END INIT INFO

PATH=/sbin:/bin:/usr/sbin:/usr/bin
NAME=iptables
DESC="iptables rules"

. /lib/lsb/init-functions

case "$1" in
  start)
	log_daemon_msg "Starting $DESC" "$NAME"
	iptables-restore < /etc/iptables/rules.v4 \
		&& ip6tables-restore < /etc/iptables/rules.v6
	log_end_msg "$?"
	;;
  stop)
	log_daemon_msg "Stopping $DESC" "$NAME"
	iptables -F \
		&& ip6tables -F
	log_end_msg "$?"
	;;
  restart)
  	$0 stop
	$0 start
	;;
  *)
	N=/etc/init.d/$NAME
	echo "Usage: $N {start|stop|restart}" >&2
	exit 1
	;;
esac

exit 0
